:root {
    --primary: #fbbf24;
    --secondary: #fcd34d;
    --black: #000000;
    --white: #ffffff;
    --width-break: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

span {
    color: var(--white);
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

.area {
    width: 100%;
    min-height: 20vh;
    font-size: large;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

textarea {
    display: block;
    margin-top: 2rem;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1rem;
    font-size: large;
    font-family: cursive;
}

button:hover {
    background-color: var(--secondary);
}

#translation-output {
    border: 1px solid var(--black);
}

footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;    
}